<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>패스워드찾기</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout_style.css}">

    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>


<body>
    <div class="mb-3">
        <label>이메일을 입력하세요</label>
        <input type="email" id="email" class="form-control">
    </div>
    <div>
        <button type="button" id="sendButton" class="btn btn-primary" onclick="sendEmail()">인증번호전송</button>
    </div>

    <div id="authNum" style="display: none">
        <div class="mb-3" >
            <label>인증번호를 입력하세요.</label>
            <input type="text" id="inputAuthNum" class="form-control">
        </div>

        <div>
            <button type="button" id="authNumButton" class="btn btn-primary" onclick="authNumCheck()">인증번호확인</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:inline="javascript">


        function sendEmail(){
            let email = document.getElementById("email").value;
            let emailDto = {
                email : email
            }

            $.ajax({
                method:"POST",
                url:"/email/check",
                contentType:"application/json",
                data:JSON.stringify(emailDto),
                success:function (result){
                    if(result){
                        sendAuthNum(emailDto);
                    } else {
                        alert("이메일을 찾을수 없습니다.")
                    }
                },
                error:function (jqXHR,status,error){
                    alert(jqXHR.status);
                }
            })
        }

        function sendAuthNum(emailDto){
            $.ajax({
                method:"POST",
                url:"/email/send",
                contentType:"application/json",
                data:JSON.stringify(emailDto),
                success:function (code){
                    if(code){
                        alert("메일전송완료");
                        document.getElementById("authNum").style.display = "block";
                        document.getElementById("sendButton").style.display = "none";
                        document.getElementById("email").readOnly = "true";
                    } else {
                        alert("인증번호를 받을수없음");
                    }
                },
                error:function (jqXHR,status,error){
                    alert(jqXHR.status);
                }
            });
        }

        function authNumCheck(){
            let email = document.getElementById("email").value;
            let authNum = document.getElementById("inputAuthNum").value;

            let emailDto = {
                email : email,
                authNum : authNum
            }

            $.ajax({
                method:"POST",
                url:"/email/authNum",
                contentType:"application/json",
                data:JSON.stringify(emailDto),
                success:function (result){
                    if(result=="success"){
                        alert("새 패스워드를 전송하겠습니다.");
                        makePassword(email);
                    } else {
                        alert("인증에 실패하였습니다.");
                    }
                },
                error:function (jqXHR,status,error){
                    alert(jqXHR.status);
                }
            });
        }

        function makePassword(email){
            let emailDto = {
                email : email
            }
            $.ajax({
                method:"POST",
                url:"/members/password",
                contentType:"application/json",
                data:JSON.stringify(emailDto),
                success:function (password){
                    sendPassword(email, password);
                },
                error:function (jqXHR,status,error){
                    alert(jqXHR.status);
                }
            });
        }

        function sendPassword(email,password){
            let emailDto = {
                email : email,
                authNum : password
            }
            $.ajax({
                method:"POST",
                url:"/email/passSend",
                contentType:"application/json",
                data:JSON.stringify(emailDto),
                success:function (password){
                    alert("새 패스워드가 전송되었습니다.");
                    sendPassword(email, password);
                    window.close();
                },
                error:function (jqXHR,status,error){
                    alert(jqXHR.status);
                }
            });
        }

    </script>
</body>
</html>