<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>

    <div layout:fragment="content">
        <div class="text-center">

            <input type="hidden" id="memberId" name="memberId" th:value="${id}">
            <div>
                <a th:href="'/members/update/' + ${id}" class="no-line text-dark">
                    <h4>회원정보수정</h4>
                </a>
            </div>

            <div>
                <a id="deleteMember" class="no-line text-danger">
                    <h4>회원탈퇴</h4>
                </a>
            </div>
        </div>
    </div>


    <th:block layout:fragment="script">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script>
            $(document).ready(function (){

                var header =  $("meta[name='_csrf_header']").attr('content');
                var token = $("meta[name='_csrf']").attr('content');

                $("#deleteMember").css("cursor","pointer").click(function (){
                    var deleteConfirm = confirm("정말 탈퇴하시겠습니까?");

                    if(deleteConfirm == true) {
                        var memberId = $("#memberId").val();
                        $.ajax({
                            url: "/members/delete/" + memberId,
                            method: "delete",
                            contentType: "application/json",
                            beforeSend: function (jqXHR) {
                                jqXHR.setRequestHeader(header, token);
                            },
                            success: function (result) {
                                alert("회원탈퇴완료");
                                window.label.href = "/members/logout";
                            },
                            error(jqXHR, status, error) {
                                const responseText = jqXHR.responseText;
                                alert(responseText);
                            }
                        });
                    }
                });
            });
        </script>
    </th:block>
    <th:block layout:fragment="css">
        <style>
            .no-line{
                text-decoration: none;
            }
        </style>
    </th:block>
</body>
</html>